:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #7676d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  background-image: url(./assets/bg.jpg);
}

/* common css starts */

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.title {
  text-align: center;
  margin-top: var(--default-margin);
  color: #fd7e14;
  font-size: 3rem;
  font-weight: bolder;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  background-color: var(--bs-orange);
  box-shadow: none;
  outline: none;
  border: none;
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

/* .loader {
  color: #6565d4;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
} */

/* &loader */

.loader {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: rotate 1s linear infinite;
  
box-shadow: 2px 2px 10px 5px red;
position: absolute;
top: 75%;
left: 45%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
}
  

/* &loader */

/* common css ends */

/* search section starts */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--default-margin);
}

.search-section .search-input {
  min-width: 500px;
  padding: var(--default-spacing);
}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

/* search section ends */

/* filters section starts */

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: var(--default-margin);
}

.filters > * {
  padding: 5px 10px;
  background: #ffc107db;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}

/* filters section ends */

/* images section starts */

.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
  border-radius: 10px;
  transition: transform 0.5s;
}

.images .image:hover {
  transform: translateY(-3px);
}

/* images section ends */



/* Responsive adjustments */
@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 100%;
    min-width: unset;
    margin: 0 var(--default-margin);
  }

  .images {
    grid-template-columns: 1fr;
  }
}
